

<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Contact
          <strong>Gardens on the Side</strong>
        </h2>
        <hr>
      </div>
      <div class="col-md-8">
        <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
      </div>
      <div class="col-md-4">
        <p>Phone:
          <strong>678.522.6452</strong>
        </p>
        <p>Email:
          <strong><a href="mailto:hoppingbird@gmail.com">hoppingbird@gmail.com</a></strong>
        </p>
        <p>Address:
          <strong>883 Lake Dr
            <br>Snellville, Ga</strong>
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Contact
          <strong>form</strong>
        </h2>
        <hr>
        <p> Please fill out the form and let us know how we can help. We will get back to you ASAP.</p>
        <div class="form-wrapper">
          <%= simple_form_for @contact do |f| %>
            <%= f.error_notification %>

            <div class="form-group">
              <div class="form-group text-center">
                <%= f.input_field :name, placeholder: 'Name', required: true, autofocus: true %>
              </div>
              <div class="form-group text-center">
                <%= f.input_field :email, placeholder: 'Email', required: true %>
              </div>
              <div class="form-group text-center">
                <%= f.input_field :phone, placeholder: 'Phone', required: false %>
              </div>
              <div class="form-group text-center">
                <%= f.input_field :message, placeholder: 'Ask a question', required: true %>
              </div>
              <div class="form-group text-center">
                <%= f.hint 'Tell us a little about what you are looking for' %>
              </div>

            </div>
            <div class="form-actions text-center">
              <%= f.button :submit, "Submit" %>
            </div>
        <% end %>
       </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container -->

</div>
</div>

</div>
<!-- /.container -->
