

<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">About
          <strong>Gardens on the Side</strong>
        </h2>
        <hr>
      </div>
      <div class="col-md-6">
        <img class="img-responsive img-border-left" src="/assets/TomatoBasket.JPG" alt="">
      </div>
      <div class="col-md-6">
        <p>This is a great place to ask questions of other community members or just share pictures of your gardens.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          <strong>Our Community</strong>
          <p>Post a new community blog entry</p>
        </h2>

        <hr>
        <div class="form-wrapper">
          <%= simple_form_for @member_post, html: { class: 'form-horizontal', multipart: true } do |f| %>
              <%= f.error_notification %>

           <div class="row">
             <div class="form-group" style="float:none; margin: 0 auto">
               <%= f.input_field :image, required: true %>
             </div>
             <div class="form-group text-center" style="font-size: large;">
               <%= f.hint "<<< Upload an image (optional) using button way over there to the left"  %>
             </div>
             <div class="form-group text-center">
               <%= f.input_field :title, placeholder: 'Title', required: true, autofocus: true %>
             </div>
             <br />
              <div class="form-group text-center">
                <%= f.input_field :body, placeholder: 'Caption/Message', required: true %>
              </div>
             <br />
              <div class="form-actions text-center">
                <%= f.button :submit, "Submit" %>
              </div>
          <% end %>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
   </div>

</div>
  <!-- /.container -->
