<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li>
      <%= link_to 'Home', root_path %>
    </li>
    <li>
      <%= link_to 'About', about_index_path %>
    </li>
    <li>
      <%= link_to 'Blog', blog_index_path %>
    </li>
    <li>
      <%= link_to 'Contact', new_contact_path %>
    </li>
    <li>
      <%= link_to 'Members', members_path %>
    </li>
    <li>
      <%= link_to 'Tools', tools_index_path %>
    </li>
  </ul>
  <div class="pull-right user-info">
    <% if current_user %>
        Hello <%= current_user.name %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "Sign In", new_user_session_path %> or
        <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>
</div>