

<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Your
          <strong>Gardens on the Side Community</strong>
        </h2>
        <hr>
      </div>
      <div class="col-md-6">
        <img class="img-responsive img-border-left" src="/assets/GrapnersGarden1.jpg" alt="">
      </div>
      <div class="col-md-6">
        <p>This is a great place to show off your garden and network with others - share the bounty, offer advise and ask questions.</p>

        <p>Share your tips for success and find out how your fellow gardeners are doing</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          <strong>Members</strong>
        </h2>
        <hr>
        <div class="row">
          <div class="box">
            <div class="col-lg-12">
              <h2 class="intro-text text-center">
                <% if current_user.present? %>
                    <% @members.each do |m| %>
                        <% date = m.created_at %>
                        <strong><%= m.name %> </strong> <%= "joined: #{date.strftime('%d/%m/%Y')}" %>
                        <% if current_user.admin? %>
                            <%= form_tag member_edit_path do %>
                                <%= hidden_field_tag :id, m.id %>
                                <%= select_tag :role, options_for_select(["member", "admin"], m.role) %>
                                <%= submit_tag :update %>
                            <% end %>
                        <% end %>
                    <hr>
                    <% end %>
                <% end %>
              </h2>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li>
                  <%= link_to "Member's Blog", member_posts_path %>
                </li>
                <li>
                  <%= link_to "Show us your Garden", new_member_post_path %>
                </li>
                <li>
                  <%= link_to "Tool", tools_index_path %>
                </li>
              </ul>
              </div>
          </div>
        </div>
       </div>
     </div>
   </div>

</div>
<!-- /.container -->

